<!-- BEGIN content -->
<div   id="content" style="">

    <!-- begin post -->
<!--    *ngFor="let post of news"-->
    <div *ngFor="let post of news" style="display: inline-block">
    <div  class="post" style="height:auto;">
        <div class="thumb">
            <a href="#" >
                <img src="{{post.postLink[0]}}" alt=""style="height: 100%"/>
            </a>
        </div>
        <h2 style=" font-family: inherit">
            <a href="#">{{post.chapterTitle}}</a>
        </h2>
        <p class="date">{{post.dateTime}}</p>
        <p>{{post.textBold}}</p>
        <a class="continue" href="">Continue Reading</a> </div>
    </div>
    <!-- end post -->
    <!-- begin post navigation -->
    <div class="postnav">
        <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="break"></div>
    </div>
    <!-- end post navigation -->
</div>
<!-- END content -->
