<!-- BEGIN content -->
<div id="content" style="">

  <!-- begin post -->
  <!--    *ngFor="let post of news"-->
  <div *ngFor="let post of news | paginate: { itemsPerPage: 6, currentPage: p }" style="display: inline-block">
    <div class="post" style="height:auto;">
      <div class="thumb">
        <a href="#">
          <img src="{{post.postLink[0]}}" alt="" style="height: 100%"/>
        </a>
      </div>
      <div class="title"><h2 style=" font-family: inherit">
        <a href="#">{{post.chapterTitle}}</a>
      </h2></div>

      <div class="sumary">
        <p class="date">{{post.dateTime}}</p>
        <p>{{post.textBold}}</p>
      </div>
      <a class="continue" href="">Tiếp tục đọc</a></div>
  </div>
  <!-- end post -->
  <!-- begin post navigation -->
  <div class="postnav">
    <pagination-controls (pageChange)="p= $event" class="float-right"></pagination-controls>
    <div class="break"></div>
  </div>
  <!-- end post navigation -->
</div>
<!-- END content -->
<app-slide-bar></app-slide-bar>
