
<link rel="stylesheet" href="header.component.css">
<div id="header">
    <ul>
        <li class="f"><a href="#" routerLink="home" >Trang Chủ</a></li>
        <li><a href="about" routerlink="about">VỀ ĐỘI NGŨ TIN TỨC</a></li>
        <li><a href="page.html">TIN NÓNG</a></li>
        <li><a href="" > LIÊN HỆ VỚI CHÚNG TÔI</a></li>
    </ul>
    <p class="links">Phản hồi: <a href="#">Hộp thư</a> | <a href="#">Ý kiến đóng góp</a> | <a href="#">Email</a> </p>
    <div class="break"></div>
    <div class="logo">
        <h1><a href="#">VIETNAMNET</a></h1>
    </div>
    <div class="ad468x60"> <a href="#"><img src="images/ad468x60.gif" alt="" /></a> </div>
    <div class="break"></div>
    <ol>
        <li><a href="#">Chính trị</a></li>
        <li><a href="#">Thời sự</a></li>
        <li><a href="#">Kinh doanh</a></li>
        <li><a href="#">Thế giới</a></li>
        <li><a href="#">Giải trí</a></li>
        <li><a href="#">Đời sống</a></li>
        <li><a href="#">Pháp luật</a></li>
        <li><a href="#">Công nghệ</a></li>
        <li><a href="#">Du lịch</a></li>
    </ol>
    <div class="break"></div>
</div>

