<header>
  <div class="container">
    <div class="header__top">
      <div class="header__hotline">
        <div class="">Hotline:
          <span class="header__hotline-phone phone">0919 405 885</span>
        </div>
        <div class="">Hotline phát hành: <span class="header__hotline-phone phone__producer">
      0919 435 885
    </span></div>
        <a href="" class="header__subscribe">Đặt mua báo</a>
      </div>

    </div>
    <div id="header">
      <p class="links"><a href="#"> Công nghệ số và truyền thông</a> | <a href="#">Tin nóng</a> | <a href="#">Tin tức
        24h</a> |<a href="#">Đăng nhập</a></p>
      <div class="logo">
        <img src="../../asset/images/logo.png" width="100px" height="100px">
      </div>
      <ol>
        <li><a href="#">Trang chủ</a></li>
        <li><a href="#">Chính trị</a></li>
        <li><a href="#">Thời sự</a></li>
        <li><a href="#">Kinh doanh</a></li>
        <li><a href="#">Thế giới</a></li>
        <li><a href="#">Giải trí</a></li>
        <li><a href="#">Thể thao</a></li>
        <li><a href="#">Sức khỏe</a></li>
        <li><a href="#">Đời sống</a></li>
        <li><a href="#">Giáo dục</a></li>
        <li><a href="#">Pháp luật</a></li>
        <li><a href="#">Công nghệ</a></li>

      </ol>
      <div class="break"></div>
    </div>
  </div>
</header>






