<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<div class="pg-footer">
  <div class="footer">
    <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
      <path class="footer-wave-path"
            d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
    </svg>
    <div class="footer-content">
      <div class="footer-content-column1">
        <img src="../../asset/images/logo.png" width="100px" height="100px">
        <a class="footer-logo-link" href="#">
          <span class="hidden-link-text">VietNamNet</span>
        </a>
      </div>
      <div class="footer-content-column2">
        <div class="footer-menu">
          <p>Cơ quan chủ quản: Bộ Thông tin và Truyền thông
            Số giấy phép: 09/GP - BTTTT, cấp ngày 07/01/2019<br><br>
          <h4> Tổng biên tập: Phạm Anh Tuấn</h4><br><br>
          <p>Tòa soạn: Tòa nhà C'Land - 156 Xã Đàn 2, Đống Đa, Hà Nội</p><br>
          Hotline: 19001081 (8-20h) | 0923457788 (ngoài giờ HC)<br><br>
          © 1997 Báo VietNamNet. All rights reserved.<br>
          Chỉ được phát hành lại thông tin từ website này khi có sự
          đồng ý bằng văn bản của báo VietNamNet.
        </div>
      </div>
      <div class="footer-content-column3">
        <div class="footer-menu">
          <h4>Liên hệ quảng cáo</h4><br><br>
          <p> Hà Nội. Hotline: 0919 405 885<br><br>
            Tp.HCM. Hotline: 0919 435 885<br><br>
            Email : contact@vietnamnet.vn</p>
          <p> Xem thông tin chi tiết: http://vads.vn
            <br><br> Hỗ trợ kỹ thuật: support@tech.vietnamnet.v</p>
        </div>
      </div>
      <div class="footer-content-column4">
        <div class="footer-menu">
          <p>Theo dõi VietNamNet trên</p>
          <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
