<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<div id="footer">
  <div class="footer-content">
    <div class="footer-content-column1">
      <div class="footer-menu">

        <p>Cơ quan chủ quản: Bộ Thông tin và Truyền thông
        <h4> Tổng biên tập: Phạm Anh Tuấn</h4><br>
        <p>Tòa soạn: Tòa nhà C'Land - 156 Xã Đàn 2, Đống Đa, Hà Nội</p><br>
        Hotline: 19001081 (8-20h) | 0923457788 (ngoài giờ HC)<br>
        Chỉ được phát hành lại thông tin từ website này khi có sự
        đồng ý bằng văn bản của báo VietNamNet.
      </div>
    </div>
    <div class="footer-content-column2">
      <div class="footer-menu">
        <p>Liên hệ quảng cáo<br><br>Hà Nội. Hotline: 0919 405 885
          <br>Tp.HCM. Hotline: 0919 435 885
          <br> Email : contact@vietnamnet.vn</p>
        <p> Xem thông tin chi tiết: http://vads.vn
          <br> Hỗ trợ kỹ thuật: support@tech.vietnamnet.vn</p>
      </div>
    </div>
    <div class="footer-content-column3">
      <div class="footer-menu">
        <a class="footer-logo-link" href="#">
          <h1>VIETNAMNET</h1>
        </a>
        <p>Theo dõi VietNamNet trên:</p>
        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>



