<div class="container">
  <div class="form-container">
    <div class="left-container">
      <h2>Báo điện tử hàng đầu Việt Nam</h2>
    </div>
    <div class="right-container">
      <div class="right-inner-container">
        <form action="#">
          <h2 class="lg-view">Liên hệ</h2>
          <div class="footer-icons">
            <a href="#" class="social"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#" class="social"><i class="fa fa-twitter"></i></a>
            <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
          </div>
          <input type="text" placeholder="Họ tên" required>
          <input type="email" placeholder="Email" required>
          <input type="phone" placeholder="Số điện thoại" required>
          <textarea rows="4" placeholder="Lời nhắn"></textarea>
          <button>Gửi</button>
        </form>
      </div>
    </div>
  </div>
</div>
