<link rel="stylesheet" href="login-user.component.css">
<div class="grid">

    <form action="https://httpbin.org/post" method="POST" class="form login">

        <div class="form__field">
            <label for="login__username"><svg class="icon">
                <use xlink:href="#icon-user"></use>
            </svg><span class="hidden">Username</span></label>
            <input autocomplete="username" id="login__username" type="text" name="username" class="form__input" placeholder="Username" required>
        </div>

        <div class="form__field">
            <label for="login__password"><svg class="icon">
                <use xlink:href="#icon-lock"></use>
            </svg><span class="hidden">Password</span></label>
            <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required>
        </div>

        <div class="form__field">
            <input type="submit" value="Sign In">
        </div>

    </form>

    <p class="text--center">Not a member? <a href="#">Sign up now</a> <svg class="icon">
        <use xlink:href="#icon-arrow-right"></use>
    </svg></p>

</div>
