body {
  font-family: "Open Sans", sans-serif;
}

.container {
  background-image: url("src/asset/images/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 80px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 1100px;
  max-width: 100%;
  min-height: 550px;
}

.login-form {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 30px;
}
.login-form h3 {
  text-align: center;
  font-weight: 600;
  color: #112ace;
  margin-top: 40px;
  margin-bottom: 40px;
}

h4 {
  margin-left: 100px;
}

h6 {
  text-align: center;
}

.remember-forgot-div {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #151414;
}
.remember-forgot-div a {
  color: #112ace;
  font-size: 13px;
}

.form-check-input {
  margin-top: 2px !important;
}

.login-btn {
  margin-top: 40px;
}
.login-btn:hover {
  background-color: #112ace;
}

.sign-up-div {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}
.sign-up-div a {
  color: #112ace !important;
  font-weight: 600;
}

.icon-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-login li {
  list-style: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-login li:nth-child(1) {
  color: #3b5999;
}
.icon-login li:nth-child(2) {
  color: #dd4b39;
}
.icon-login li:nth-child(3) {
  color: #55acee;
}
.icon-login li i {
  font-size: 24px;
}

@media only screen and (max-width: 1024px) {
  .login-form {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 812px) {
  .pic-login-3 {
    display: none;
  }
}

