<!-- BEGIN sidebar -->
<div id="sidebar">
    <!-- begin ads -->
    <div class="ads"> <a href="#"><img src="images/ad125x125.jpg" alt="" /></a> <a href="#"><img src="images/ad125x125.jpg" alt="" /></a> <a href="#"><img src="images/ad125x125.jpg" alt="" /></a> <a href="#"><img src="images/ad125x125.jpg" alt="" /></a> </div>
    <!-- end ads -->

    <div class="wrapper">
        <!-- begin popular posts -->
        <h2>Bài viết phổ biến</h2>
        <ul>
            <li><a href="#">Tình trạng kẹt xe hàng ngày ở TP.HCM</a></li>
            <li><a href="#">Tổng Bí thư gặp mặt 75 đại biểu Ngươì có công tiêu biểu cả nước</a></li>
            <li><a href="#">Top địa phương có điểm trung bình môn Hóa cao nhất 2022</a></li>
            <li><a href="#">Hà Nội có 3 thủ khoa THPT 2022</a></li>
            <li><a href="#">Thương hiệu thời trang tạo vị thế nhờ tận dụng lợi thế công nghệ</a></li>
        </ul>
        <!-- end popular posts -->
        <!-- begin flickr photos -->
        <h2>Ảnh</h2>
        <div class="flickr"> <a href="#"><img src="images/_thumb3.jpg" alt="" /></a> <a href="#"><img src="images/_thumb4.jpg" alt="" /></a> <a href="#"><img src="images/_thumb5.jpg" alt="" /></a> <a href="#"><img src="images/_thumb6.jpg" alt="" /></a> <a href="#"><img src="images/_thumb7.jpg" alt="" /></a> <a href="#"><img src="images/_thumb8.jpg" alt="" /></a> </div>
        <!-- end flickr photos -->
        <!-- begin featured video -->
        <h2> Video</h2>
        <div class="video"> <img src="images/_video.jpg" alt="" /> </div>
        <!-- end featured video -->
        <!-- begin tags -->
        <h2>Tags</h2>
        <div class="tags"> </div>
        <!-- end tags -->
        <!-- BEGIN left -->
        <div class="l sbar">
            <!-- begin categories -->
            <h2>Danh mục</h2>
            <ul>
                <li><a href="#">Chính trị</a></li>
                <li><a href="#">Thời sự</a></li>
                <li><a href="#">Kinh Doanh</a></li>
                <li><a href="#">Thế giới</a></li>
                <li><a href="#">Đời sống</a></li>
                <li><a href="#">Pháp luật</a></li>
                <li><a href="#">Công nghệ</a></li>
                <li><a href="#">Du lịch</a></li>
            </ul>
            <!-- end categories -->
            <!-- begin pages -->
            <h2>Trang</h2>
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Kho lưu trữ</a></li>
                <li><a href="#">Liên kết</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
            <!-- end pages -->
        </div>
        <!-- END left -->
        <!-- BEGIN right -->
        <div class="r sbar">
            <!-- begin archives -->
            <h2>Kho lưu trữ</h2>
            <ul>
                <li><a href="#">Tháng 8- 2021</a></li>
                <li><a href="#">Tháng 7- 2021</a></li>
                <li><a href="#">Tháng 6- 2021</a></li>
                <li><a href="#">Tháng 5- 2021</a></li>
                <li><a href="#">Tháng 4- 2021</a></li>
                <li><a href="#">Tháng 3- 2021</a></li>
                <li><a href="#">Tháng 2- 2021</a></li>
                <li><a href="#">Tháng 1- 2021</a></li>
            </ul>
            <!-- end archives -->
            <!-- begin blogroll -->
            <h2>Tự sự </h2>
            <ul>
<!--                <li><a href="#">Carlos</a></li>-->
                <li><a href="#">Triển Lãm</a></li>
                <li><a href="#">Bộ Sưu Tập</a></li>
                <li><a href="#">Xu Hướng</a></li>
                <li><a href="#">Tra Cứu Điểm</a></li>
                <li><a href="#">Event </a></li>
            </ul>
            <!-- end blogroll -->
            <!-- begin meta -->
<!--            <h2>Meta</h2>-->
<!--            <ul>-->
<!--                <li><a href="#">Login</a></li>-->
<!--            </ul>-->
            <!-- end meta -->
        </div>
        <!-- END right -->
    </div>
</div>
<!-- END sidebar -->
