<div class="container">
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-4 offset-lg-1 col-md-10 offset-md-1 col-sm-12 col-12">
      <div class="card register-form">
        <h3>Đăng ký</h3>
        <form action="">
          <div class="form-group col-lg-10 offset-lg-1">
            <input type="text" name="" class="form-control" placeholder="Nhập Email / Số điện thoại" required>
          </div>
          <div class="form-group col-lg-10 offset-lg-1">
            <input type="password" name="" class="form-control" placeholder="Nhập mật khẩu" required>
          </div>
          <div class="form-group col-lg-10 offset-lg-1">
            <input type="password" name="" class="form-control" placeholder="Xác nhận mật khẩu" required>
          </div>
          <div class="form-group col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1 register-btn">
            <input type="submit" class="form-control btn btn-primary" value="Đăng ký">
          </div>
        </form>
        <p> Khi bấm đăng ký bạn đã đồng ý với <a href="#"> Điều khoản sử dụng</a></p>
        <h6> Hoặc đăng nhập bằng </h6>
        <ul class="icon-login">
          <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-google" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <h4>VietNamNet - Báo điện tử hàng đầu Việt Nam</h4>
</div>
