<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Web News - Page</title>
  <link rel="stylesheet" href="detail-page.component.css">

</head>
<body>
<!-- BEGIN wrapper -->
<div id="wrapper">
  <!-- BEGIN header -->
  <div id="header">
    <ul>
      <li class="f"><a href="#">TRANG CHỦ</a></li>
      <li><a href="about.html">VỀ ĐỘI NGŨ TIN TỨC</a></li>
      <li><a href="page.html">TIN NÓNG</a></li>
      <li><a href="contact.html">LIÊN HỆ VỚI CHÚNG TÔI</a></li>
    </ul>
    <p class="links">Phản hồi: <a href="#">Hộp thư</a> | <a href="#">Ý kiến đóng góp</a> | <a href="#">Email</a></p>
    <div class="break"></div>
    <div class="logo">
      <h1><a href="#">VIETNAM.NET</a></h1>
    </div>
    <div class="break"></div>
    <ol>
      <li><a href="#">Chính trị</a></li>
      <li><a href="#">Thời sự</a></li>
      <li><a href="#">Kinh doanh</a></li>
      <li><a href="#">Thế giới</a></li>
      <li><a href="#">Giải trí</a></li>
      <li><a href="#">Đời sống</a></li>
      <li><a href="#">Pháp luật</a></li>
      <li><a href="#">Công nghệ</a></li>
      <li><a href="#">Du lịch</a></li>
    </ol>
    <div class="break"></div>
  </div>
  <!-- END header -->

  <!-- BEGIN content -->
  <div id="content">
    <!-- begin post -->
    <div class="single">
      <h2>Công cụ trí tuệ nhân tạo giúp lời nói thành nghệ thuật</h2>
      <p>Công ty nghiên cứu trí tuệ nhân tạo OpenAI cho biết đang tiến hành thử nghiệm beta trên diện rộng đối với
        DALL-E, một phần mềm tiên tiến tạo ra hình ảnh từ các mô tả bằng văn bản.</p>
      <p><img class="alignright" src="images/AI.jpg" width="300" height="200" alt=""/></p>
      <p>Một triệu người sẽ có cơ hội sử dụng một công cụ trí tuệ nhân tạo (AI) mới cho phép tạo hình ảnh đơn giản thông
        qua việc mô tả bằng từ ngữ khi công nghệ mới này bắt đầu bước vào giai đoạn thử nghiệm.</p>
      <p>Trong một thông báo phát ngày 20/7, công ty nghiên cứu trí tuệ nhân tạo OpenAI cho biết đang tiến hành thử
        nghiệm beta trên diện rộng đối với DALL-E, một phần mềm tiên tiến tạo ra hình ảnh từ các mô tả bằng văn bản.</p>
      <p>
        Theo đoạn video trên trang web của OpenAI, công nghệ DALL-E đang tạo ra hình ảnh một chú gấu Bắc Cực chơi
        guitar, một ảnh chú gấu koala chơi bóng rổ và bức tranh nàng Mona Lisa nổi tiếng với kiểu tóc mohawk.
      </p>

      <p>OpenAI cho biết nhiều người đã sử dụng DALL-E để tạo ra video âm nhạc cho các bệnh nhân ung thư trẻ tuổi, tạo
        trang bìa cho tạp chí.</p>
      <p>Công ty này cho biết trong những tuần tới, sẽ gửi giấy mới cho 1 triệu người trong danh sách chờ để trải nghiệm
        phiên bản mới nhất của công cụ AI này.</p>
      <p>Trong bối cảnh lo ngại DALL-E và các công cụ tương tự trong tương lai có thể bị lạm dụng trong các chiến dịch
        thông tin giả, OpenAI cho biết họ đã làm việc với các nhà nghiên cứu và nhà phát triển để xây dựng các biện pháp
        bảo vệ nhằm hạn chế hành vi lạm dụng công nghệ này.</p>
      <p>OpenAI cho biết hãng này không tải các ảnh có khuôn mặt thật và nỗ lực tạo ra những điểm giống với các nhân vật
        của công chúng, như người nổi tiếng hay các nhân vật chính trị.</p>

      <!-- end post -->
    </div>

  </div>    <!-- END content -->
  <!-- BEGIN sidebar -->
  <div id="sidebar">
    <!-- begin search -->
    <input type="text" name="s" id="s" value="" size="28"/>
    <button type="submit">Tìm kiếm</button>
    <!-- end search -->
    <div class="wrapper">
      <!-- begin popular posts -->
      <h2>Bài viết phổ biến</h2>
      <ul>
        <li><a href="#">Tình trạng kẹt xe hàng ngày ở TP.HCM</a></li>
        <li><a href="#">Tổng Bí thư gặp mặt 75 đại biểu Ngươì có công tiêu biểu cả nước</a></li>
        <li><a href="#">Top địa phương có điểm trung bình môn Hóa cao nhất 2022</a></li>
        <li><a href="#">Hà Nội có 3 thủ khoa THPT 2022</a></li>
        <li><a href="#">Thương hiệu thời trang tạo vị thế nhờ tận dụng lợi thế công nghệ</a></li>
      </ul>
      <!-- end popular posts -->

      <!-- begin photos -->
      <h2>Ảnh</h2>
      <div class="flickr"><a href="#"><img src="images/_thumb3.jpg" alt=""/></a> <a href="#"><img
        src="images/_thumb4.jpg" alt=""/></a> <a href="#"><img src="images/_thumb5.jpg" alt=""/></a> <a
        href="#"><img src="images/_thumb6.jpg" alt=""/></a> <a href="#"><img src="images/_thumb7.jpg"
                                                                             alt=""/></a> <a href="#"><img
        src="images/_thumb8.jpg" alt=""/></a></div>
      <!-- end photos -->

      <!-- begin video -->
      <h2>Video nổi bật</h2>
      <div class="video"><img src="images/_video.jpg" alt=""/></div>
      <!-- end featured video -->

      <!-- BEGIN left -->
      <div class="l sbar">
        <!-- begin categories -->
        <h2>Danh mục</h2>
        <ul>
          <li><a href="#">Chính trị</a></li>
          <li><a href="#">Thời sự</a></li>
          <li><a href="#">Kinh doanh</a></li>
          <li><a href="#">Thế giới</a></li>
          <li><a href="#">Giải trí</a></li>
          <li><a href="#">Đời sống</a></li>
          <li><a href="#">Pháp luật</a></li>
          <li><a href="#">Công nghệ</a></li>
          <li><a href="#">Du lịch</a></li>

        </ul>
        <!-- end categories -->

        <!-- begin pages -->
        <h2>Trang</h2>
        <ul>
          <li><a href="#">Trang chủ</a></li>
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Kho lưu trữ</a></li>
          <li><a href="#">Liên kết</a></li>
          <li><a href="#">Liên hệ</a></li>
        </ul>
        <!-- end pages -->
      </div>
      <!-- END left -->
      <!-- BEGIN right -->
      <div class="r sbar">
        <!-- begin archives -->
        <h2>Kho lưu trữ</h2>
        <ul>
          <li><a href="#">Tháng 8- 2021</a></li>
          <li><a href="#">Tháng 7- 2021</a></li>
          <li><a href="#">Tháng 6- 2021</a></li>
          <li><a href="#">Tháng 5- 2021</a></li>
          <li><a href="#">Tháng 4- 2021</a></li>
          <li><a href="#">Tháng 3- 2021</a></li>
        </ul>
        <!-- end archives -->

        <h2>Meta</h2>
        <ul>
          <li><a href="#">Đăng nhập</a></li>
        </ul>

      </div>
      <!-- END right -->
    </div>
  </div>
  <!-- END sidebar -->

  <!-- BEGIN footer -->
  <div id="footer">
    <p>Copyright &copy; 2009 - <a href="#">Website Name</a> &middot; All Rights Reserved</p>
  </div>
  <!-- END footer -->
</div>
<!-- END wrapper -->
</body>
</html>
